img {
  width: 100%;
  height: auto;
}

/*Styling the header for each status*/
.status-header {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #222222;
  letter-spacing: 0;
}

/*Wrapping container for the approvers*/
.approver-container {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-top: 17px;
  padding-bottom: 15px;
}

/*Each individual item where an approver is rendered*/
.approver-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 16px;
  width: 100%;
  height: 34px;
}

.approver-item > * {
  margin-right: 8px;
}

.approver-name {
  font-family: Helvetica;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  max-width: 67.73px;
}
 
/*Styling for the details of each user like the email and approval date*/
.approver-details {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #222222;
  letter-spacing: 0;
}

.image-container {
  height: 24px;
  width: 24px;
}

/*Styling the number displayed next to each approver*/
.number-display {
  background: rgba(34,34,34,0.10);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.number-display > p {
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 12px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
}

/*Aligning the tick icon correctly*/
.tick-icon-container {
  margin-right: 0px;
  margin-left: auto;
}